PORT=""

MONGO_URI=""

CLIENT_URL=""

ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""

REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_REDIRECT_URI=""
